
.App-header {
  background-image: url("fundo.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272424;
}


