
.pergunta{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 80%;
}
.titulo{
    font-family: 'Bigelow Rules', cursive;
    font-size: 70px; 
    letter-spacing: 2.5px;
    text-align: center;
}
.perguntasBox{
    margin-top: -70px;
    display:  flex;
    align-items:  center;
    justify-content: space-between;
    align-self: top;
    width: 100% ;
    height: 50%;
}
.perguntasBox p {
    font-family: 'Smythe', cursive;
    font-size: 33px;
    width: 40%;
    height: 60%;
}
.perguntasBox p:first-child {
    margin-left: 50px;
    text-align: left;
}
.perguntasBox p:last-child {
    margin-right: 50px;
    text-align: right;  
}

.repostaBox{
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20% ;
    margin-top: 20px;
    margin-bottom: 30px;
}
.botao{
    border: 2px solid #272424;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
}
.botao:hover{
    background-color:  #272424;
}

.medio{
    width: 50px;
    height: 50px;
}
.pequeno{
    width: 30px;
    height: 30px;
}
.grande{
    width: 60px;
    height: 60px;
}

.fade{
    transition: opacity 500ms, transform 500ms;
}
.fade-enter  {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active  {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit  {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active  {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active ,
.fade-exit-active {
  transition: 500ms;
}

@media (max-width: 900px)
{
    .titulo{
        font-size: 65px; 
    }
    .perguntasBox p {
        font-size: 30px;
    }
    .repostaBox{
        margin-top: -30px;
        
    }
}

@media (max-width: 600px)
{
    .titulo{
        font-size: 55px; 
    }
    .perguntasBox p {
        font-size: 22px;
    }
}
@media (max-width: 600px)
{
    .titulo{
        font-size: 40px; 
    }
    .perguntasBox p {
        font-size: 18px;
    }
    .medio{
        width: 40px;
        height: 40px;
    }
    .pequeno{
        width: 25px;
        height: 25px;
    }
    .grande{
        width: 50px;
        height: 50px;
    }
    .perguntasBox p:first-child {
        margin-left: 20px;
        text-align: left;
    }
    .perguntasBox p:last-child {
        margin-right: 20px;
        text-align: right;  
    }
    .repostaBox{
        margin-top: -20px;
        
    }
}